site_name: py-identity-model
site_description: OAuth2.0 and OpenID Connect Client Library
site_author: James Crowley
site_url: https://jamescrowley321.github.io/py-identity-model

repo_name: jamescrowley321/py-identity-model
repo_url: https://github.com/jamescrowley321/py-identity-model

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate

plugins:
  - search

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - toc:
      permalink: true

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jamescrowley321/py-identity-model

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Guides:
      - Troubleshooting: troubleshooting.md
      - FAQ: faq.md
      - Contributing: contributing.md
  - Specifications:
      - Discovery Compliance: discovery_specification_compliance_assessment.md
      - JWKS Compliance: jwks_specification_compliance_assessment.md
  - Roadmap: py_identity_model_roadmap.md
  - Testing:
      - Integration Tests: integration-tests.md
  - Examples:
      - Identity Server: identity-server-example.md
  - Changelog: changelog.md
