name: Build

on: [push]

permissions:
  contents: read

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.13
      - name: Install dependencies
        run: make ci-setup
      - name: Lint
        run: make lint
      - name: Unit Tests
        run: make test-unit
      - name: Integration Tests (ORY)
        run: make test-integration-ory
        env:
          TEST_DISCO_ADDRESS: ${{ secrets.TEST_DISCO_ADDRESS }}
          TEST_JWKS_ADDRESS: ${{ secrets.TEST_JWKS_ADDRESS }}
          TEST_CLIENT_ID: ${{ secrets.TEST_CLIENT_ID }}
          TEST_CLIENT_SECRET: ${{ secrets.TEST_CLIENT_SECRET }}
          TEST_SCOPE: ${{ secrets.TEST_SCOPE }}
          TEST_EXPIRED_TOKEN: ${{ secrets.TEST_EXPIRED_TOKEN }}
          TEST_AUDIENCE: ${{ secrets.TEST_AUDIENCE }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Example Integration Tests
        run: make test-examples
      - name: Build
        run: make build-dist